[submodule "api"]
	path = api
	url = https://github.com/Dihgg/personal-website-api.git
[submodule "front"]
	path = front
	url = https://github.com/Dihgg/personal-website-angular.git
[submodule "wait-for-it"]
	path = wait-for-it
	url = https://github.com/vishnubob/wait-for-it.git
